 //- Mixins
mixin grids
      - var grids = [5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95]
        each grid in grids
          -var left = grid
          -var right = 100 - grid
            section.row.equalize
              - if (left < 90)
                div(class="grid-#{left}")
                  .example-box
                    p grid-#{left}
                div(class="grid-#{right}")
                   .example-box
                    p grid-#{right}
              - else
                - if (left < 95)
                  div(class="grid-#{left}")
                   .example-box
                    p grid-#{left}
                    .row
                      .grid-33
                        .example-box.background-dark
                          p  .grid-33
                      .grid-33
                        .example-box.background-dark
                          p  .grid-33
                      .grid-33
                        .example-box.background-dark
                          p  .grid-33
                     .row
                      .grid-50
                        .example-box.background-dark
                          p  .grid-50
                      .grid-50
                        .example-box.background-dark
                          p  .grid-50
                  .grid-10
                    .example-box.background-light
                      p grid-10
                - else
                  .grid-95
                    .example-box.background-light
                      p grid-95
                      section.row.equalize
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                        .grid-10
                          .example-box.background-dark
                            p grid-10
                  .grid-5
                    .example-box.background-light
                      p grid-5