---
{
	"title": "WET theme",
	"tag": "theme-wet-boew",
	"parentdir": "theme-wet-boew",
	"language": "en",
	"altLangPrefix": "index",
	"dateModified": "2017-05-03",
}
---
<nav role="navigation">
	<h2>Table of contents</h2>
	<ul>
{{#withSort languages}}
		<li><a href="#{{this}}">{{#with ..}}{{i18n "lang-en" language=../this}}{{/with}}</a></li>
{{/withSort}}
	</ul>
</nav>

{{#withSort languages}}
<section>
	<h2 id="{{this}}">{{#with ..}}{{i18n "lang-en" language=../this}}{{/with}}</h2>
	<ul>
		<li><a href="content-{{this}}.html">Content page<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="content-secmenu-{{this}}.html">Content page - Secondary menu<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="content-nosearchlang-{{this}}.html">Content page - No search or language selection link<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="content-nositemenubc-{{this}}.html">Content page - No site menu or breadcrumb trail<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="content-nosearchlangsitemenubc-{{this}}.html">Content page - No search, language selection link, site menu or breadcrumb trail<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="content-signedoff-{{this}}.html">Content page - Signed Off<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="content-signedon-{{this}}.html">Content page - Signed On<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		{{#is this "en"}}
		<li><a href="splashpage-en.html">Splash page<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="404-en.html">404 error page<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="404-en-fr.html">404 error page - English/French</a></li>
		<li><a href="servermessage-en-fr.html">Server message page - English/French</a></li>
		{{/is}}
		{{#is this "fr"}}
		<li><a href="splashpage-fr.html">Splash page<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="404-fr.html">404 error page<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
		<li><a href="404-fr-en.html">404 error page - French/English</a></li>
		<li><a href="servermessage-fr-en.html">Server message page - French/English</a></li>
		{{/is}}
		<li><a href="servermessage-{{this}}.html">Server message page<span class="wb-inv">{{#with ..}} - {{i18n "lang-en" language=../this}}{{/with}}</span></a></li>
	</ul>
</section>
{{/withSort}}
