---
{
	"title": "Thème de la BOEW",
	"tag": "theme-wet-boew",
	"parentdir": "theme-wet-boew",
	"language": "fr",
	"altLangPrefix": "index",
	"dateModified": "2014-08-15"
}
---
<section>
	<h2>Table des matières</h2>
	<ul>
{{#withSort languages}}
		<li><a href="#{{this}}">{{#with ..}}{{i18n "lang-fr" language=../this}}{{/with}}</a></li>
{{/withSort}}
	</ul>
</section>

{{#withSort languages}}
<section>
	<h2 id="{{this}}">{{#with ..}}{{i18n "lang-fr" language=../this}}{{/with}}</h2>
	<ul>
		<li><a href="content-{{this}}.html">Page de contenu</a></li>
		<li><a href="content-secmenu-{{this}}.html">Page de contenu - Menu secondaire</a></li>
		<li><a href="content-nosearchlang-{{this}}.html">Page de contenu - Sans recherche ou lien de sélection de la langue</a></li>
		<li><a href="content-nositemenubc-{{this}}.html">Page de contenu - Sans menu du site ou fil d'Ariane</a></li>
		<li><a href="content-nosearchlangsitemenubc-{{this}}.html">Page de contenu - Sans recherche, lien de sélection de la langue, menu du site ou fil d'Ariane</a></li>
		{{#is this "en"}}
		<li><a href="splashpage-en.html">Page d'entrée</a></li>
		<li><a href="404-en.html">Page d'erreur 404</a></li>
		<li><a href="404-en-fr.html">Page d'erreur 404 (anglais/français)</a></li>
		<li><a href="servermessage-en-fr.html">Page de message du serveur (anglais/français)</a></li>
		{{/is}}
		{{#is this "fr"}}
		<li><a href="splashpage-fr.html">Page d'entrée</a></li>
		<li><a href="404-fr.html">Page d'erreur 404</a></li>
		<li><a href="404-fr-en.html">Page d'erreur 404 (français/anglais)</a></li>
		<li><a href="servermessage-fr-en.html">Page de message du serveur (français/anglais)</a></li>
		{{/is}}
		<li><a href="servermessage-{{this}}.html">Page de message du serveur</a></li>
	</ul>
</section>
{{/withSort}}
