---
{
	"title": "Message title - Web Experience Toolkit",
	"layout": "servermessage.hbs"
}
---
<div class="col-md-12">
	<h1><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> {{{i18n "tmpl-msg-title"}}}</h1>
	<p>{{{i18n "tmpl-sample-text"}}}{{{i18n "space"}}}{{{i18n "tmpl-sample-text"}}}{{{i18n "space"}}}{{{i18n "tmpl-sample-text"}}}{{{i18n "space"}}}{{{i18n "tmpl-sample-text"}}}{{{i18n "space"}}}{{{i18n "tmpl-sample-text"}}}{{{i18n "space"}}}{{{i18n "tmpl-sample-text"}}}{{{i18n "space"}}}{{{i18n "tmpl-sample-text"}}}</p>
</div>
