<div id="wb-sttl" class="col-md-8">
	<a href="{{assets}}/index-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">
		<img src="{{assets}}/../{{site.theme}}/assets/logo.svg" alt="" />
		<span>{{{i18n "site-title"}}}<span class="wb-inv">{{{i18n "comma-space"}}}</span><small>{{{i18n "site-tagline"}}}</small></span>
	</a>
</div>
