<a href="{{assets}}/index-{{language}}.html">
	<object type="image/svg+xml" tabindex="-1" data="{{assets}}/assets/logo.svg"></object>
	<span>{{{i18n "site-title"}}}<span class="wb-inv">{{{i18n "comma-space"}}}</span><small>{{{i18n "site-tagline"}}}</small></span>
</a>
