
<a href="index-{{language}}.html"><object type="images/svg+xml" tabindex="-1" role="img" data="{{assets}}/images/logo.svg" aria-label="{{sitetitle}}"></object></a>

<p><a href="index-{{language}}.html" lang="en"><span>{{sitetitle}}<small>{{tagline}}</small></span></a></p>