<div class="container">
	<div class="row">
		<ol class="breadcrumb">
			<li>
				<a href="{{assets}}/index-{{language}}.html">{{#i18n "tmpl-home"}}{{/i18n}}</a>
			</li>
{{#unless_eq assets compare=".."}}
			<li>
				<a href="{{assets}}/demos/index-{{language}}.html">{{#i18n "tmpl-work-examples"}}{{/i18n}}</a>
			</li>
{{/unless_eq}}
			<li>{{title}}</li>
		</ol>
	</div>
</div>
