
{{#contains page.src "src/"}}
<ul class="list-inline">
	<li><a class="btn btn-primary" href="../../docs/ref/{{parentdir}}/{{parentdir}}-{{language}}.html">{{#i18n "tmpl-documentation"}}{{/i18n}}</a></li>
	<li><a class="btn btn-primary" href="https://github.com/wet-boew/wet-boew/issues/new?title={{encodeURI title}}:%20">{{#i18n "tmpl-questions-comments"}}{{/i18n}}</a></li>
</ul>
{{/contains}}
{{#contains page.src "/docs/ref/"}}
	{{#isnt assets "../.."}}
<p>
	<a class="btn btn-primary" href="https://github.com/wet-boew/wet-boew/issues/new?title={{encodeURI title}}:%20">{{#i18n "tmpl-questions-comments"}}{{/i18n}}</a>
</p>
	{{/isnt}}
{{/contains}}