<!-- some mobile views -->
    <a href="#" class="nav-close visible-sm visible-xs"><span class="glyphicon glyphicon-remove"></span> {{#i18n "%menu-close"}}{{/i18n}}</a>
<!-- secondary navigation if enabled -->
<div class="pnl-strt container visible-md visible-lg nvbar">
	<h2>{{#i18n "%tmpl-site-menu"}}{{/i18n}}</h2>
    <div class="row">
        <ul class="list-inline menu" role="menubar">
            <li><a href="#projet" class="item">{{#i18n "%tmpl-wet-project"}}{{/i18n}}</a>
                <ul class="sm list-unstyled" id="projet" role="menu">
                    <li><a href="{{rooturl}}/index-fr.html#apropos">À propos de la BOEW</a></li>
                    <li><a href="{{rooturl}}index-fr.html#avantages">Avantages</a></li>
                    <li><a href="https://github.com/wet-boew/wet-boew/wiki/Distinctions">Distinctions pour la BOEW</a></li>
                    <li><a href="https://github.com/wet-boew/wet-boew/">Projet principal</a></li>
					<li><a href="{{rooturl}}/Licence-fr.html">Conditions régissant l'utilisation</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/Feuille-de-route">Feuille de route pour les versions passées et futures</a></li>
					<li><a href="{{rooturl}}/index-fr.html#historique-des-versions">Historique des versions</a></li>
					<li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-fra.asp">{{#i18n "%tmpl-about-web-standards"}}{{/i18n}}</a></li>
                </ul>
            </li>
            <li><a href="#miseenoeuvre" class="item">{{#i18n "%tmpl-implement-wet"}}{{/i18n}}</a>
                <ul class="sm list-unstyled" id="miseenoeuvre" role="menu">
                    <li><a href="https://github.com/wet-boew/wet-boew/wiki/Comment-d%C3%A9marrer-avec-la-BOEW">Comment démarrer avec la BOEW</a></li>
                    <li><a href="https://github.com/wet-boew/wet-boew/wiki/Guide-d%27utilisation-de-GitHub-pour-la-BOEW">Guide d'utilisation de GitHub pour la BOEW</a></li>
                    <li><a href="https://github.com/wet-boew/wet-boew/wiki/T%C3%A9l%C3%A9chargements">Télécharger la BOEW</a></li>
                    <li><a href="{{rooturl}}/demos/index-fr.html">{{#i18n "%tmpl-work-examples"}}{{/i18n}}</a></li>
                    <li><a href="https://github.com/wet-boew/wet-boew/Accueil#rfrence">{{#i18n "%tmpl-documentation"}}{{/i18n}}</a></li>
                </ul>
            </li>
            <li><a href="#contribue" class="item">{{#i18n "%tmpl-contribute-wet"}}{{/i18n}}</a>
                <ul class="sm list-unstyled" id="contribue" role="menu">
                    <li><a href="https://github.com/wet-boew/wet-boew/wiki/Lignes-directrices-pour-les-contributeurs">Lignes directrices pour les contributeurs</a></li>
                    <li><a href="https://github.com/wet-boew/wet-boew/wiki/Lignes-directrices-pour-les-contributeurs#filing-a-bug-or-an-issue">Soumettre un bogue ou un problème</a></li>
                    <li><a href="https://github.com/wet-boew/wet-boew/wiki/Lignes-directrices-pour-les-contributeurs#wiki-Creating_a_Pull_Request">Créer un &#171;&#160;<span lang="en">pull request</span>&#160;&#187;</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/Lignes-directrices-pour-les-contributeurs#testing-you-pr-before-submitting">Essayer votre code</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/D%C3%A9velopper-pour-la-BOEW">Développer pour la BOEW</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/Cr%C3%A9er-des-documents">Créer des documents</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<section class="wb-nav container visible-sm visible-xs">
    <h2 class="wb-inv">{{#i18n "%tmpl-site-info"}}{{/i18n}}</h2>
    <ul class="list-unstyled">
        <li>À propos
            <ul class="list-unstyled">
				<li><a href="{{rooturl}}/index-fr.html#apropos">{{#i18n "%tmpl-about-wet"}}{{/i18n}}</a></li>
				<li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-fra.asp">{{#i18n "%tmpl-about-web-standards"}}{{/i18n}}</a></li>
            </ul>
        </li>
        <li>Contactez-nous
            <ul class="list-unstyled">
                <li><a href="https://github.com/wet-boew/wet-boew/issues/new">{{#i18n "%tmpl-questions-comments"}}{{/i18n}}</a></li>
            </ul>
        </li>
        <li>Nouvelles
            <ul class="list-unstyled">
				<li><a href="https://github.com/wet-boew/wet-boew/pulse">{{#i18n "%tmpl-recent-project-activity"}}{{/i18n}}</a></li>
				<li><a href="https://github.com/wet-boew/wet-boew/graphs">{{#i18n "%tmpl-project-stats"}}{{/i18n}}</a></li>
            </ul>
        </li>
        <li>Restez branchés
            <ul class="list-unstyled">
				<li><a href="https://twitter.com/BoiteExpWeb">Twitter</a></li>
            </ul>
        </li>
    </ul>
</section>
