<div class="pnl-strt container visible-md visible-lg nvbar">
	<h2>{{#i18n "tmpl-site-menu"}}{{/i18n}}</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li><a href="#project" class="item">{{#i18n "tmpl-wet-project"}}{{/i18n}}</a>
				<ul class="sm list-unstyled" id="project" role="menu">
					<li><a href="{{environment.root}}/index-{{language}}.html#{{#i18n "tmpl-about-anchor"}}{{/i18n}}">{{#i18n "tmpl-about-wet"}}{{/i18n}}</a></li>
					<li><a href="{{environment.root}}/index-en.html#{{#i18n "tmpl-benefits-anchor"}}{{/i18n}}">{{#i18n "tmpl-benefits"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-accolades-wiki"}}{{/i18n}}">{{#i18n "tmpl-accolades"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/">{{#i18n "tmpl-wet-main-project-page"}}{{/i18n}}</a></li>
					<li><a href="{{environment.root}}/License-{{language}}.html">{{#i18n "tmpl-terms"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-roadmap-wiki"}}{{/i18n}}">{{#i18n "tmpl-roadmap"}}{{/i18n}}</a></li>
					<li><a href="{{environment.root}}/index-{{language}}.html#{{#i18n "tmpl-version-history-anchor"}}{{/i18n}}">{{#i18n "tmpl-version-history"}}{{/i18n}}</a></li>
					<li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-{{#isnt language "fr"}}eng{{else}}fra{{/isnt}}.asp">{{#i18n "tmpl-about-web-standards"}}{{/i18n}}</a></li>
				</ul>
			</li>
			<li><a href="#implement" class="item">{{#i18n "tmpl-implement-wet"}}{{/i18n}}</a>
				<ul class="sm list-unstyled" id="implement" role="menu">
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-getting-started-wiki"}}{{/i18n}}">{{#i18n "tmpl-getting-started"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-using-github-wiki"}}{{/i18n}}">{{#i18n "tmpl-using-github"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-download-wet-wiki"}}{{/i18n}}">{{#i18n "tmpl-download-wet"}}{{/i18n}}</a></li>
					<li><a href="{{environment.root}}/demos/index-{{language}}.html">{{#i18n "tmpl-work-examples"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-documentation-wiki"}}{{/i18n}}">{{#i18n "tmpl-documentation"}}{{/i18n}}</a></li>
				</ul>
			</li>
			<li><a href="#contribute" class="item">{{#i18n "tmpl-contribute-wet"}}{{/i18n}}</a>
				<ul class="sm list-unstyled" id="contribute" role="menu">
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-contribute-wet-wiki"}}{{/i18n}}">{{#i18n "tmpl-contributor-guidelines"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-contribute-wet-wiki"}}{{/i18n}}#{{#i18n "tmpl-contribute-bug-anchor"}}{{/i18n}}">{{#i18n "tmpl-contribute-bug"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-contribute-wet-wiki"}}{{/i18n}}#{{#i18n "tmpl-contribute-pr-anchor"}}{{/i18n}}">{{#i18n "tmpl-contribute-pr"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-contribute-wet-wiki"}}{{/i18n}}#{{#i18n "tmpl-contribute-test-anchor"}}{{/i18n}}">{{#i18n "tmpl-contribute-test"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-contribute-develop-wiki"}}{{/i18n}}">{{#i18n "tmpl-contribute-develop"}}{{/i18n}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/wiki/{{#i18n "tmpl-contribute-docs-wiki"}}{{/i18n}}">{{#i18n "tmpl-contribute-docs"}}{{/i18n}}</a></li>
				</ul>
			</li>
			<li><a href="#plugins" class="item">{{#i18n "tmpl-plugins"}}{{/i18n}}</a>
				<ul class="sm list-unstyled" id="plugins" role="menu">
					{{#is language "fr"}}
						{{#withSort pages "data.title"}}
							{{#is data.category "Plugiciel"}}
								<li><a href="{{environment.root}}/plugins/{{relative dirname dest}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{data.title}}</a></li>
							{{/is}}
						{{/withSort}}
					{{/is}}
					{{#is language "en"}}
						{{#withSort pages "data.title"}}
							{{#is data.category "Plugin"}}
								<li><a href="{{environment.root}}/plugins/{{relative dirname dest}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{data.title}}</a></li>
							{{/is}}
						{{/withSort}}
					{{/is}}
				</ul>
			</li>
			<li><a href="#polyfills" class="item">{{#i18n "tmpl-polyfills"}}{{/i18n}}</a>
				<ul class="sm list-unstyled" id="polyfills" role="menu">
					{{#is language "fr"}}
						{{#withSort pages "data.title"}}
							{{#is data.category "Correctif"}}
								<li><a href="{{environment.root}}/polyfills/{{relative dirname dest}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{data.title}}</a></li>
							{{/is}}
						{{/withSort}}
					{{/is}}
					{{#is language "en"}}
						{{#withSort pages "data.title"}}
							{{#is data.category "Polyfill"}}
								<li><a href="{{environment.root}}/polyfills/{{relative dirname dest}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{menulang}}{{data.title}}</a></li>
							{{/is}}
						{{/withSort}}
					{{/is}}
				</ul>
			</li>
			<li><a href="#others" class="item">{{#i18n "tmpl-others"}}{{/i18n}}</a>
				<ul class="sm list-unstyled" id="others" role="menu">
					{{#is language "fr"}}
						{{#withSort pages "data.title"}}
							{{#is data.category "Autre"}}
								<li><a href="{{environment.root}}/other/{{relative dirname dest}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{data.title}}</a></li>
							{{/is}}
						{{/withSort}}
					{{/is}}
					{{#is language "en"}}
						{{#withSort pages "data.title"}}
							{{#is data.category "Other"}}
								<li><a href="{{environment.root}}/other/{{relative dirname dest}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{data.title}}</a></li>
							{{/is}}
						{{/withSort}}
					{{/is}}
				</ul>
			</li>
		</ul>
	</div>
</div>
