<div class="pnl-strt container visible-md visible-lg nvbar">
	<h2>{{{i18n "tmpl-topics-menu"}}}</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			<li><a href="#project" class="item">{{{i18n "tmpl-wet-project"}}}</a>
				<ul class="sm list-unstyled" id="project" role="menu">
					<li><a href="http://wet-boew.github.io/v4.0-ci/index-{{language}}.html#{{{i18n "tmpl-about-anchor"}}}">{{{i18n "tmpl-about-wet"}}}</a></li>
					<li><a href="http://wet-boew.github.io/v4.0-ci/index-en.html#{{{i18n "tmpl-benefits-anchor"}}}">{{{i18n "tmpl-benefits"}}}</a></li>
					<li><a href="http://wet-boew.github.io/wet-boew/docs/ref/accolades-{{language}}.html">{{{i18n "tmpl-accolades"}}}</a></li>
					<li><a href="https://github.com/wet-boew/wet-boew/">{{{i18n "tmpl-wet-main-project-page"}}}</a></li>
					<li><a href="http://wet-boew.github.io/v4.0-ci/{{#contains page.language "fr"}}Licence{{else}}License{{/contains}}-{{language}}.html">{{{i18n "tmpl-terms"}}}</a></li>
					<li><a href="http://wet-boew.github.io/wet-boew/docs/versions/rdmp-{{language}}.html">{{{i18n "tmpl-roadmap"}}}</a></li>
					<li><a href="http://wet-boew.github.io/wet-boew/docs/versions/index-{{language}}.html">{{{i18n "tmpl-version-history"}}}</a></li>
					<li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-{{#isnt language "fr"}}eng{{else}}fra{{/isnt}}.asp">{{{i18n "tmpl-about-web-standards"}}}</a></li>
				</ul>
			</li>
			<li><a href="#implement" class="item">{{{i18n "tmpl-implement-wet"}}}</a>
				<ul class="sm list-unstyled" id="implement" role="menu">
					<li><a href="http://wet-boew.github.io/wet-boew/docs/start-{{language}}.html">{{{i18n "tmpl-getting-started"}}}</a></li>
					<li><a href="http://wet-boew.github.io/wet-boew/docs/versions/dwnld-{{language}}.html">{{{i18n "tmpl-download-wet"}}}</a></li>
					<li><a href="http://wet-boew.github.io/v4.0-ci/demos/index-{{language}}.html">{{{i18n "tmpl-work-examples"}}}</a></li>
					<li><a href="http://wet-boew.github.io/wet-boew/docs/index-{{language}}.html">{{{i18n "tmpl-documentation"}}}</a></li>
				</ul>
			</li>
			<li><a href="#contribute" class="item">{{{i18n "tmpl-contribute-wet"}}}</a>
				<ul class="sm list-unstyled" id="contribute" role="menu">
					<li><a href="http://wet-boew.github.io/wet-boew/docs/bugs-{{language}}.html">{{{i18n "tmpl-contribute-bug"}}}</a></li>
					<li><a href="http://wet-boew.github.io/wet-boew/docs/pull-{{language}}.html">{{{i18n "tmpl-contribute-pr"}}}</a></li>
					<li><a href="http://wet-boew.github.io/wet-boew/docs/pull-{{language}}.html#test">{{{i18n "tmpl-contribute-test"}}}</a></li>
					<li><a href="http://wet-boew.github.io/wet-boew/docs/start-{{language}}.html#develop">{{{i18n "tmpl-contribute-develop"}}}</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
