<section>
	<h2>{{{i18n "tmpl-heading"}}}{{{i18n "space"}}}2{{{i18n "space"}}}(<code>h2</code>)</h2>
	<section>
		<h3>{{{i18n "tmpl-heading"}}}{{{i18n "space"}}}3{{{i18n "space"}}}(<code>h3</code>)</h3>
		<section>
			<h4>{{{i18n "tmpl-heading"}}}{{{i18n "space"}}}4{{{i18n "space"}}}(<code>h4</code>)</h4>
			<section>
				<h5>{{{i18n "tmpl-heading"}}}{{{i18n "space"}}}5{{{i18n "space"}}}(<code>h5</code>)</h5>
				<section>
					<h6>{{{i18n "tmpl-heading"}}}{{{i18n "space"}}}6{{{i18n "space"}}}(<code>h6</code>)</h6>
					<p>{{{i18n "tmpl-para"}}}{{{i18n "hyphen"}}}{{{i18n "tmpl-default-app"}}}</p>
				</section>
			</section>
		</section>
	</section>
</section>
<p><a href="#">{{{i18n "tmpl-link"}}}</a></p>
<ul>
	<li>{{{i18n "tmpl-ul"}}}{{{i18n "space"}}}(<code>ul</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}1
		<ul>
			<li>{{{i18n "tmpl-ul"}}}{{{i18n "space"}}}(<code>ul</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}2
				<ul>
					<li>{{{i18n "tmpl-ul"}}}{{{i18n "space"}}}(<code>ul</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}3</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
<ol>
	<li>{{{i18n "tmpl-ol"}}}{{{i18n "space"}}}(<code>ol</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}1</li>
	<li>{{{i18n "tmpl-ol"}}}{{{i18n "space"}}}(<code>ol</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}1
		<ol>
			<li>{{{i18n "tmpl-ol"}}}{{{i18n "space"}}}(<code>ol</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}2</li>
			<li>{{{i18n "tmpl-ol"}}}{{{i18n "space"}}}(<code>ol</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}2
				<ol>
					<li>{{{i18n "tmpl-ol"}}}{{{i18n "space"}}}(<code>ol</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}3</li>
					<li>{{{i18n "tmpl-ol"}}}{{{i18n "space"}}}(<code>ol</code>){{{i18n "hyphen"}}}{{{i18n "tmpl-level"}}}{{{i18n "space"}}}3</li>
				</ol>
			</li>
		</ol>
	</li>
</ol>
<table class="table table-striped">
	<caption>{{{i18n "tmpl-table-caption"}}}</caption>
	<thead>
		<tr>
			<th scope="col">{{{i18n "tmpl-table-head"}}}{{{i18n "space"}}}(<code>th</code>)</th>
			<th scope="col">{{{i18n "tmpl-table-head"}}}{{{i18n "space"}}}(<code>th</code>)</th>
			<th scope="col">{{{i18n "tmpl-table-head"}}}{{{i18n "space"}}}(<code>th</code>)</th>
			<th scope="col">{{{i18n "tmpl-table-head"}}}{{{i18n "space"}}}(<code>th</code>)</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
		</tr>
		<tr>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
		</tr>
		<tr>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
			<td>{{{i18n "tmpl-table-data"}}}{{{i18n "space"}}}(<code>td</code>)</td>
		</tr>
	</tbody>
</table>
<form method="post" action="#" class="form-horizontal">
	<div class="form-group">
		<label for="data1" class="col-sm-3 control-label">{{{i18n "tmpl-form"}}}{{{i18n "space"}}}<code>input</code></label>
		<div class="col-sm-9">
			<input type="text" id="data1" name="data1" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label for="data2" class="col-sm-3 control-label">{{{i18n "tmpl-form"}}}{{{i18n "space"}}}<code>textarea</code></label>
		<div class="col-sm-9">
			<textarea id="data2" rows="3" cols="15" name="data2" class="form-control"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="data4" class="col-sm-3 control-label">{{{i18n "tmpl-form"}}}{{{i18n "space"}}}<code>select</code></label>
		<div class="col-sm-9">
			<select name="data4" id="data4" class="form-control">
				<option value="1">{{{i18n "tmpl-option"}}}{{{i18n "space"}}}1</option>
				<option value="2">{{{i18n "tmpl-option"}}}{{{i18n "space"}}}2</option>
				<option value="3">{{{i18n "tmpl-option"}}}{{{i18n "space"}}}3</option>
				<option value="4">{{{i18n "tmpl-option"}}}{{{i18n "space"}}}4</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-primary">{{{i18n "tmpl-submit"}}}</button>
		</div>
	</div>
</form>
<blockquote>
	<p>"<code>blockquote</code>"</p>
	<footer><code>footer</code> <cite><code>cite</code></cite></footer>
</blockquote>
