<ul class="list-group menu list-unstyled">
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}1</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}2</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}3</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}4</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}5</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}6</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}7</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}8</a></li>
</ul>
