<ul class="list-group menu list-unstyled">
	<li><span class="list-group-item">{{#i18n "tmpl-section"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}1</span>
		<ul class="list-group list-unstyled" id="sect1">
			<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}1a</a></li>
			<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}1b</a></li>
			<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}1c</a></li>
			<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}1d</a></li>
			<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}1e</a></li>
			<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-section"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}1{{#i18n "hyphen"}}{{/i18n}}{{#i18n "tmpl-more"}}{{/i18n}}</a></li>
		</ul>
	</li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}2</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}3</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}4</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}5</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}6</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}7</a></li>
	<li><a class="list-group-item" href="{{environment.root}}/index-{{language}}">{{#i18n "tmpl-item"}}{{/i18n}}{{#i18n "space"}}{{/i18n}}8</a></li>
</ul>
