<ul class="list-group menu list-unstyled">
	<li>
		<h3 class="wb-navcurr">{{title}}</h3>
		<ul class="list-group menu list-unstyled">
			<li><a class="list-group-item" href="#">{{{i18n "tmpl-item"}}}{{{i18n "space"}}}1</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "tmpl-item"}}}{{{i18n "space"}}}2</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "tmpl-item"}}}{{{i18n "space"}}}3</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "tmpl-item"}}}{{{i18n "space"}}}4</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "tmpl-item"}}}{{{i18n "space"}}}5</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "tmpl-item"}}}{{{i18n "space"}}}6</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "tmpl-item"}}}{{{i18n "space"}}}7</a></li>
			<li><a class="list-group-item" href="#">{{{i18n "tmpl-item"}}}{{{i18n "space"}}}8</a></li>
		</ul>
	</li>
</ul>
