<section id="wb-so">
	<h2 class="wb-inv">{{i18n "tmpl-sign-on-info"}}</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	{{#is signed "off"}}
				<button class="btn btn-default" type="button">{{i18n "tmpl-register"}}</button>
				<button class="btn btn-primary" type="button">{{i18n "tmpl-signin"}}</button>
	{{else}}
				<p class="btn">{{i18n "tmpl-signed-in-as"}} <span class="wb-so-uname">John Doe</span></p>
				<button class="btn btn-default" type="button">{{i18n "tmpl-accountsettings"}}</button>
				<button class="btn btn-primary" type="button">{{i18n "tmpl-signout"}}</button>
	{{/is}}
			</div>
		</div>
	</div>
</section>
