{{#unless page.altMenu}}
	<li><a href="{{assets}}/index-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">{{{i18n "tmpl-wet-project"}}}</a></li>
	<li><a href="{{assets}}/docs/start-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html#implement">{{{i18n "tmpl-implement-wet"}}}</a></li>
	<li><a href="{{assets}}/docs/start-{{#contains language "fr"}}{{language}}{{else}}en{{/contains}}.html">{{{i18n "tmpl-contribute-wet"}}}</a></li>
{{else}}
	<li><a href="#">{{{i18n "tmpl-section"}}}{{{i18n "space"}}}1</a></li>
	<li><a href="#">{{{i18n "tmpl-section"}}}{{{i18n "space"}}}2</a></li>
	<li><a href="#">{{{i18n "tmpl-section"}}}{{{i18n "space"}}}3</a></li>
{{/unless}}
