<div class="container nvbar">
	<h2>{{{i18n "tmpl-site-menu"}}}</h2>
    <div class="row">
        <ul class="list-inline menu">
			<li><a href="{{assets}}/index-{{language}}.html">{{{i18n "tmpl-wet-project"}}}</a></li>
			<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/impl-{{language}}.html">{{{i18n "tmpl-implement-wet"}}}</a></li>
			<li><a href="http://wet-boew.github.io/wet-boew/docs/gs-cd/contrib-{{language}}.html">{{{i18n "tmpl-contribute-wet"}}}</a></li>
        </ul>
    </div>
</div>
