<section class="alert alert-info">
	<h2 class="h3">{{{i18n "tmpl-v31-ref-head"}}}</h2>
	<p>{{{i18n "tmpl-v31-ref-1"}}}<a href="{{site.v31linkstart}}{{#contains page.dirname "/demos"}}demos/{{/contains}}{{#contains page.dirname "/docs"}}docs/{{/contains}}{{#contains page.dirname "/ref"}}ref/{{/contains}}index-{{page.language}}.html">{{{i18n "tmpl-v31-ref-2"}}}</a>{{{i18n "tmpl-v31-ref-3"}}}</p>
</section>
