<section class="alert alert-warning">
	<h2 class="h3">{{{i18n "tmpl-v31-ref-head"}}}</h2>
	<p>{{{i18n "tmpl-v31-ref-1"}}}<a href="{{site.legacyrepolink}}">{{site.legacyreponame}}</a>{{{i18n "tmpl-v31-ref-3"}}}</p>
</section>
