---
{
	"title": "Getting Started with the Web Experience Toolkit",
	"language": "en",
	"description": "Getting started with the Web Experience Toolkit",
	"altLangPrefix": "start",
	"dateModified": "2014-10-22"
}
---
<p>Follow these quick steps to understand how to get started using the Web Experience Toolkit on your own site to create <a href="index-{{language}}.html#usability">usable</a>, <a href="index-{{language}}.html#accessibility">accessible</a>, <a href="index-{{language}}.html#mobile-friendly-responsive-design">mobile-friendly websites</a>. Start by choosing a flexible theme. Then find the components that meet your content needs. Finally, customize display elements such as buttons and icons.</p>

<div id="get-started-steps">
	<div class="row">
	<ul class="list-unstyled">
		<li>
		<details>
			<summary>
				<span class="get-started-circle">1</span><span class="step-title">Choose a theme</span><span class="step-details">There are five themes to choose from. You define the look and feel of your website through the cascading style sheet (CSS). If you are using a content management system, then you can find more information in <a href="ref/variants-{{language}}.html">variants.</a></span>
			</summary>
				<div class="row theme-link">
					<section class="col-md-4 col-sm-6">
						<h2>Base theme</h2>
						<p><a href="http://wet-boew.github.io/themes-dist/theme-base/docs/ref/theme-base/theme-base-en.html"><img src="../assets/baseTheme-sm.jpg" title="Base theme" alt="Base theme" /></a></p>
						<p>A theme template to aid in the creation of new themes.</p>
						<a href="http://wet-boew.github.io/themes-dist/theme-base/docs/ref/theme-base/theme-base-en.html">Link to Base theme</a><br />
						<a href="versions/dwnld-en.html#v40stable">Download Base theme</a>
					</section>
					<section class="col-md-4 col-sm-6">
						<h2>Canada.ca theme</h2>
						<p><a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/GCWeb/GCWeb-en.html"><img src="../assets/canadaTheme-sm.jpg" title="Canada.ca theme" alt="Canada.ca theme" /></a></p>
						<p>This theme implements the layout and design requirements for Canada.ca.</p>
						<a href="http://wet-boew.github.io/themes-dist/GCWeb/docs/ref/GCWeb/GCWeb-en.html">Link to Canada.ca theme</a><br />
						<a href="versions/dwnld-en.html#v40stable">Download Canada.ca theme</a>
					</section>
					<section class="col-md-4 col-sm-6">
						<h2>Government of Canada Intranet theme</h2>
						<p><a href="http://wet-boew.github.io/themes-dist/theme-gc-intranet/docs/ref/theme-gc-intranet/theme-gc-intranet-en.html"><img src="../assets/intranetTheme-sm.jpg" title="Intranet theme" alt="Intranet theme" /></a></p>
						<p>Built by the community for the community, open for re-use and adapting.</p>
						<a href="http://wet-boew.github.io/themes-dist/theme-gc-intranet/docs/ref/theme-gc-intranet/theme-gc-intranet-en.html">Link to Intranet theme</a><br />
						<a href="versions/dwnld-en.html#v40stable">Download Intranet theme</a>
					</section>
					<section class="col-lg-4 col-md-5 col-sm-6">
						<h2>Government of Canada Web Usability theme</h2>
						<p><a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/docs/ref/theme-gcwu-fegc/theme-gcwu-fegc-en.html"><img src="../assets/usabilityTheme-sm.jpg" title="Web Usability theme" alt="Web usability theme" /></a></p>
						<p>This theme implements the requirements of the Standard on Web Usability and is recommended for use on all Government of Canada websites (except for Canada.ca).</p>
						<a href="http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/docs/ref/theme-gcwu-fegc/theme-gcwu-fegc-en.html">Link to Web Usability theme</a><br />
						<a href="versions/dwnld-en.html#v40stable">Download Web Usability theme</a>
					</section>
					<section class="col-lg-4 col-md-5 col-sm-6">
						<h2>WET theme</h2>
						<p><a href="http://wet-boew.github.io/wet-boew/docs/ref/theme-wet-boew/theme-wet-boew-en.html"><img src="../assets/wetTheme-sm.jpg" title="Web Experience Toolkit theme" alt="WET theme" /></a></p>
						<p>This theme provides an example implementation of the Base Theme.</p>
						<a href="http://wet-boew.github.io/wet-boew/docs/ref/theme-wet-boew/theme-wet-boew-en.html">Link to WET theme</a><br />
						<a href="versions/dwnld-en.html#v40stable">Download WET theme</a>
					</section>
				</div>
		</details>
		</li>
	</ul>
	</div>
	<div class="row">
	<ul class="list-unstyled">
		<li>
		<details>
			<summary>
				<span class="get-started-circle">2</span><span class="step-title">Components</span> <span class="step-details">The Toolkit contains reusable components to add interactive and accessible features to your site such as widgets, form validation, navigation menus, web feeds, and many more.</span>
			</summary>
			<section class="panel panel-default">
				<header class="panel-heading">
					<h2 class="panel-title">Plugins</h2>
				</header>
				<div class="panel-body">
					<div class="col-md-4">
					<p>Each plugin adds functionality by calling the function in the class attribute of an HTML tag.</p>
					<p><a href="ref/plugins-{{language}}.html">More plugins.</a></p>
					</div>
					<section class="col-md-8">
						<h3>Featured plugin: Lightbox</h3>
						<div class="row">
							<div class="col-md-4 col sm-4">
								<div class="wb-lbx lbx-hide-gal">
								<ul class="list-inline">
									<li>
										<a href="../demos/lightbox/demo/1_b.jpg" title="Image 1">
											<img src="../demos/lightbox/demo/1_s.jpg" alt="Image 1" />
										</a>
									</li>
									<li>
										<a href="../demos/lightbox/demo/2_b.jpg" title="Image 2">
											<img src="../demos/lightbox/demo/2_s.jpg" alt="Image 2" />
										</a>
									</li>
									<li>
										<a href="../demos/lightbox/demo/3_b.jpg" title="Image 3">
											<img src="../demos/lightbox/demo/3_s.jpg" alt="Image 3" />
										</a>
									</li>
									<li>
										<a href="../demos/lightbox/demo/4_b.jpg" title="Image 4">
											<img src="../demos/lightbox/demo/4_s.jpg" alt="Image 4" />
										</a>
									</li>
								</ul>
								</div>
							</div>
							<div class="col-md-8 col-sm-8">
								<p>When a user clicks on, selects or holds the image, the photo gallery opens in a fullscreen lightbox where they can view the images one by one.</p>
								<a class= "btn btn-default" href="../demos/lightbox/lightbox-en.html">Learn more</a>
							</div>
						</div>
					</section>
				</div>
			</section>
			<section class="panel panel-default">
				<header class="panel-heading">
					<h2 class="panel-title">Polyfills</h2>
				</header>
				<div class="panel-body">
					<div class="col-md-4">
						<p>Polyfills are JavaScript components that mimic the behaviour of HTML5 tags in browsers in order to provide backwards compatibility for browsers that do not support HTML5.</p>
						<p><a href="ref/polyfills-{{language}}.html">More polyfills.</a></p>
					</div>
				<section class="col-md-8">
					<h3>Featured polyfill: datalist polyfill (auto-complete)</h3>
					<div class="row">
						<div class="col-md-4 col-sm-5 col-xs-5">	
							<label for="city">City</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-5 col-xs-5">	
							<input type="text" id="city" name="city" list="suggestions" />
							<datalist id="suggestions">
								<!--[if lte IE 9]><select><![endif]-->
								<option label="Barrie" value="Barrie"></option>
								<option label="Calgary" value="Calgary"></option>
								<option label="Charlottetown" value="Charlottetown"></option>
								<option label="Chibougamau" value="Chibougamau"></option>
								<option label="Chilliwack" value="Chilliwack"></option>
								<option label="Cold Lake" value="Cold Lake"></option>
								<option label="Dorval" value="Dorval"></option>
								<option label="Edmonton" value="Edmonton"></option>
								<option label="Flin Flon" value="Flin Flon"></option>
								<option label="Hamilton" value="Hamilton"></option>
								<option label="Iqualuit" value="Iqualuit"></option>
								<option label="Ottawa" value="Ottawa"></option>
								<option label="Miramichi" value="Miramichi"></option>
								<option label="Montreal" value="Montreal"></option>
								<option label="Red Deer" value="Red Deer"></option>
								<option label="St. John" value="St. John"></option>
								<option label="St. John's" value="St. John's"></option>
								<option label="Toronto" value="Toronto"></option>
								<option label="Vancouver" value="Vancouver"></option>
								<option label="Whitehorse" value="Whitehorse"></option>
								<option label="Winnipeg" value="Winnipeg"></option>
								<option label="Yellowknife" value="Yellowknife"></option>
								<!--[if lte IE 9]></select><![endif]-->
							</datalist>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12">
						<p>For example, when a user types a V into a field called City, all cities beginning with V will appear in the text box.</p>
						<a class="btn btn-default" href="../demos/datalist/datalist-en.html">Learn more</a>
						</div>
					</div>
				</section>
				</div>
			</section>
		</details>
		</li>
	</ul>	
	</div>
	<div class="row">
	<ul class="list-unstyled">
		<li>
		<details>
			<summary>
				<span class="get-started-circle">3</span><span class="step-title">Design elements</span><span class="step-details">This guide explains how to design front-end elements of your website by changing the cascading style sheet (CSS). Let the magic begin!</span>
			</summary>
			<section class="panel panel-default">
				<header class="panel-heading">
					<h2 class="panel-title">Core design elements</h2>
				</header>
				<div class="panel-body">
					<div class="col-md-4">
						<p>Here are some reusable and customizable design elements that you can use in designing your website. You can find more design elements in the <a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/index-en.html">design guide.</a></p>
						<div class="row">
							<ul class="col-md-6 col-sm-6">
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/buttons-en.html">Buttons</a></li>
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/sizing-en.html">Sizing</a></li>	
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/alignment-en.html">Alignment</a></li>	
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/alerts-en.html">Alerts</a></li>		
							</ul>	
							<ul class="col-md-6 col-sm-6">
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/grids-en.html">Grids</a></li>
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/lists-en.html">Lists</a></li>	
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/forms-en.html">Forms</a></li>	
								<li><a href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/images-en.html">Images</a></li>		
							</ul>
						</div>
					</div>
					<section class="col-md-8">
						<h3>Featured example: alert box</h3>
						<section class="alert alert-success">
							<h4>Well done!</h4>
							<p>You successfully read this important alert message.</p>
						</section>							
						<p>Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
						<a class="btn btn-default" href="http://wet-boew.github.io/wet-boew-styleguide/v4/design/alerts-en.html">Learn more</a>
					</section>
				</div>
			</section>
		</details>
		</li>
	</ul>	
	</div>
</div>
