---
{
	"title": "Working examples",
	"language": "en",
	"altLangPrefix": "index",
	"dateModified": "2014-07-07",
	"themes": [
		{
			"tag": "theme-wet-boew",
			"title": "Web Experience Toolkit (WET) theme",
			"description": "This theme provides an example implementation of the Base Theme.",
			"href": "../theme/index-en.html"
		},
		{
			"tag": "theme-gcwu-fegc",
			"title": "Government of Canada Web Usability theme",
			"description": "This theme implements the requirements of the <a href=\"http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227\" rel=\"external\">Standard on Web Usability</a> and is recommended for use on all Government of Canada websites (except for Canada.ca).",
			"href": "http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/index-en.html"
		},
		{
			"tag": "theme-gc-intranet",
			"title": "Government of Canada Intranet theme",
			"description": "This theme adapts the Government of Canada Web Usability theme for intranet sites.",
			"href": "http://wet-boew.github.io/themes-dist/theme-gc-intranet/index-en.html"
		},
		{
			"tag": "GCWeb",
			"title": "Canada.ca theme",
			"description": "This theme implements the layout and design requirements for Canada.ca.",
			"href": "http://wet-boew.github.io/themes-dist/GCWeb/index-en.html"
		},
		{
			"tag": "theme-ogpl",
			"title": "Open Government Platform (OGPL) theme",
			"description": "The Open Government Platform (OGPL) theme was developed to support the <a href=\"http://ogpl.github.io/index-en.html\" rel=\"external\">Open Government Platform (OGPL)</a>.",
			"href": "http://wet-boew.github.io/themes-dist/theme-ogpl/index-en.html"
		},
		{
			"tag": "theme-base",
			"title": "Base theme",
			"description": "A theme template to aid in the creation of new themes.",
			"href": "http://wet-boew.github.io/themes-dist/theme-base/index-en.html"
		}
	],
	"variants": [
		{
			"tag": "jekyll",
			"title": "Jekyll variant",
			"description": "Adapts WET for use with Jekyll.",
			"href": "http://wet-boew.github.io/wet-boew-jekyll/index-en.html"
		},
		{
			"tag": "wordpress",
			"title": "WordPress variant",
			"description": "Adapts WET for use with WordPress.",
			"href": "http://www.lostprototype.com/wet-boew-4/"
		}
	]
}
---
<table id="components" class="wb-tables table table-striped table-hover" data-wb-tables='{"columnDefs": [ { "visible": false, "targets": [ 3 ] } ], "lengthMenu": [[10, 25, -1], [10, 25, "All"]], "pageLength": -1 }'>
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>Description</th>
			<th>Keywords</th>
		</tr>
	</thead>
	<tbody>
		{{#withSort pages "data.title"}}
			{{#is data.language "en"}}
				{{#if data.category}}
					<tr>
						<td><a href="{{relativeLink}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{data.title}}</a></td>
						<td><a href="../docs/ref/{{#is data.category "Plugins"}}plugins{{/is}}{{#is data.category "Polyfills"}}polyfills{{/is}}{{#is data.category "Other"}}other{{/is}}-en.html">{{data.category}}</a></td>
						<td>{{data.description}}</td>
						<td>{{data.tag}}</td>
					</tr>
				{{/if}}
			{{/is}}
		{{/withSort}}
		{{#withSort themes "title"}}
			<tr>
				<td><a href="{{href}}">{{title}}</a></td>
				<td><a href="../docs/ref/themesstyle-en.html">Themes and style</a></td>
				<td>{{{description}}}</td>
				<td>{{tag}}</td>
			</tr>
		{{/withSort}}
		{{#withSort variants "title"}}
			<tr>
				<td><a href="{{href}}">{{title}}</a></td>
				<td><a href="../docs/ref/variants-en.html">Variants</a></td>
				<td>{{{description}}}</td>
				<td>{{tag}}</td>
			</tr>
		{{/withSort}}
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/data-json-en.html">Data JSON</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>Insert content extracted from a JSON file and leverage HTML 5 template element. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/data-json-doc-en.html">Documentation</a>)</td>
			<td>gcweb/data-json</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/doaction/tblfilter-en.html">Do action</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>Execute action, like filter a table, based on pre-established set of configuration. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/doaction/doaction-doc-en.html">Documentation</a>)</td>
			<td>gcweb/doaction</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-en.html">Field flow</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>Transform a basic list into a selectable list. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-doc-en.html">Documentation</a>)</td>
			<td>gcweb/fieldflow</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/advanced-en.html">Field flow advanced</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>How to go beyond with field flow. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-doc-en.html">Documentation</a>)</td>
			<td>gcweb/fieldflow</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/basic-en.html">Field flow basic configuration</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>How to use field flow to create small scale user interaction. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-doc-en.html">Documentation</a>)</td>
			<td>gcweb/fieldflow</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/jsonmanager/jsonmanager-en.html">JSON Manager</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>Manage dataset and apply JSON Patch. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/jsonmanager/jsonmanager-doc-en.html">Documentation</a>)</td>
			<td>gcweb/jsonmanager</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/template-en.html">Template HTML 5</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>Leverage HTML 5 template element by using the data json plugin. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/data-json-doc-en.html">Documentation</a>)</td>
			<td>gcweb/data-json</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/ajax-en.html">URL Mapping - Ajax</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>Execute pre-configured ajax action based on url query string. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/urlmapping-doc-en.html">Documentation</a>)</td>
			<td>gcweb/urlmapping</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/patches-en.html">URL Mapping - Patching JSON</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>Execute pre-configured patches action based on url query string. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/urlmapping-doc-en.html">Documentation</a>)</td>
			<td>gcweb/urlmapping</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/tblfilter-en.html">URL Mapping - Table filtering</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca theme plugins</a></td>
			<td>Execute pre-configured table filtering action based on url query string. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/urlmapping-doc-en.html">Documentation</a>)</td>
			<td>gcweb/urlmapping</td>
		</tr>
	</tbody>
</table>
