---
{
	"title": "Exemples pratiques",
	"language": "fr",
	"altLangPrefix": "index",
	"dateModified": "2014-07-07",
	"themes": [
		{
			"tag": "theme-wet-boew",
			"title": "Thème de la Boîte à outils de l'expérience Web (BOEW)",
			"description": "Un exemple de thème conçu à partir du thème de base.",
			"href": "../theme/index-fr.html"
		},
		{
			"tag": "theme-gcwu-fegc",
			"title": "Thème de la facilité d’emploi Web du gouvernement du Canada",
			"description": "Ce thème met en place la mise en page et la mise en forme exigés par la <a href=\"http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227\" rel=\"external\">Norme sur la facilité des sites Web</a>. Il est recommandé de se servir de ce thème sur les sites Web du gouvernement du Canada (sauf Canada.ca).",
			"href": "http://wet-boew.github.io/themes-dist/theme-gcwu-fegc/index-fr.html"
		},
		{
			"tag": "theme-gc-intranet",
			"title": "Thème du gouvernement du Canada pour les sites intranet",
			"description": "Une version du thème de la facilité d'emploi des sites Web du gouvernement du Canada pour les sites intranet.",
			"href": "http://wet-boew.github.io/themes-dist/theme-gc-intranet/index-fr.html"
		},
		{
			"tag": "GCWeb",
			"title": "Thème Canada.ca",
			"description": "Ce thème met en place la mise en page et la mise en forme exigés pour le site Canada.ca.",
			"href": "http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html"
		},
		{
			"tag": "theme-ogpl",
			"title": "Thème de la Plate-forme de gouvernement ouvert (PGO)",
			"description": "Un thème qui met en place la mise en page et la mise en forme pour la <a href=\"http://ogpl.github.io/index-fr.html\" rel=\"external\">Plate-forme de gouvernement ouvert (PGO)</a>.",
			"href": "http://wet-boew.github.io/themes-dist/theme-ogpl/index-fr.html"
		},
		{
			"tag": "theme-base",
			"title": "Thème de base",
			"description": "Un modèle de thème pour la création de nouveaux thèmes.",
			"href": "http://wet-boew.github.io/themes-dist/theme-base/index-fr.html"
		}
	],
	"variants": [
		{
			"tag": "jekyll",
			"title": "Variant pour Jekyll",
			"description": "Adapte la BOEW pour l’utilisation avec Jekyll.",
			"href": "http://wet-boew.github.io/wet-boew-jekyll/index-fr.html"
		},
		{
			"tag": "wordpress",
			"title": "Variant pour WordPress",
			"description": "Adapte la BOEW pour l’utilisation avec WordPress.",
			"href": "http://www.lostprototype.com/wet-boew-4/fr/"
		}
	]
}
---
<table id="components" class="wb-tables table table-striped table-hover" data-wb-tables='{"columnDefs": [ { "visible": false, "targets": [ 3 ] } ], "lengthMenu": [[10, 25, -1], [10, 25, "Toutes les"]], "pageLength": -1 }'>
	<thead>
		<tr>
			<th>Nom</th>
			<th>Catégorie</th>
			<th>Description</th>
			<th>Mots clés</th>
		</tr>
	</thead>
	<tbody>
		{{#withSort pages "data.title"}}
			{{#is data.language "fr"}}
				{{#if data.category}}
					<tr>
						<td><a href="{{relativeLink}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{data.title}}</a></td>
						<td><a href="../docs/ref/{{#is data.category "Plugiciels"}}plugins{{/is}}{{#is data.category "Correctifs"}}polyfills{{/is}}{{#is data.category "Autre"}}other{{/is}}-fr.html">{{data.category}}</a></td>
						<td>{{data.description}}</td>
						<td>{{data.tag}}</td>
					</tr>
				{{/if}}
			{{/is}}
		{{/withSort}}
		{{#withSort themes "title"}}
			<tr>
				<td><a href="{{href}}">{{title}}</a></td>
				<td><a href="../docs/ref/themesstyle-fr.html">Thèmes et style</a></td>
				<td>{{{description}}}</td>
				<td>{{tag}}</td>
			</tr>
		{{/withSort}}
		{{#withSort variants "title"}}
			<tr>
				<td><a href="{{href}}">{{title}}</a></td>
				<td><a href="../docs/ref/variants-fr.html">Variants</a></td>
				<td>{{{description}}}</td>
				<td>{{tag}}</td>
			</tr>
		{{/withSort}}
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/ajax-fr.html">Correspondance d&#x27;URL - Ajax</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Exécute des requête ajax pré-établis selon la correspondance des paramètres de l&#x27;URL. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/urlmapping-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/urlmapping</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/patches-fr.html">Correspondance d&#x27;URL - Appliquer des correctifs JSON</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Exécute des requête d&#x27;application de correctifs JSON pré-établis selon la correspondance des paramètres de l&#x27;URL. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/urlmapping-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/urlmapping</td>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/tblfilter-fr.html">Correspondance d&#x27;URL - Filtrer un tableau</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Exécute des requête de filtrage de tableau pré-établis selon la correspondance des paramètres de l&#x27;URL. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/urlmapping/urlmapping-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/urlmapping</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/data-json-fr.html">Data JSON</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Insertion de contenu extrait d&#x27;un fichier JSON. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/data-json-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/data-json</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-fr.html">Déroulement de champs</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Transforme une simple liste en un liste de choix. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/fieldflow</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/advanced-fr.html">Déroulement de champs avancé</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Comment aller au-delà avec le déroulement de champs. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/fieldflow</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/basic-fr.html">Déroulement de champs avec des configurations de base</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Comment utiliser le déroulement de champs afin de créer des interaction utilisateur à petite échèle. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/fieldflow/fieldflow-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/fieldflow</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/doaction/tblfilter-fr.html">Exécuter des actions</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Exécute des actions, tel que filtrer un tableau, selon une configuration pré-établis. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/doaction/doaction-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/doaction</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/template-fr.html">Gabarit HTML 5</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Prendre avantage de l&#x27;élément template du HTML 5 avec le plugiciel data json.  (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/data-json/data-json-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/data-json</td>
		</tr>
		<tr>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/jsonmanager/jsonmanager-fr.html">Gestionnaire JSON</a></td>
			<td><a href="http://wet-boew.github.io/themes-dist/GCWeb/index-fr.html">Plugiciels du thème Canada.ca</a></td>
			<td>Gérer des jeux de données et applique des correctifs JSON. (<a href="http://wet-boew.github.io/themes-dist/GCWeb/demos/jsonmanager/jsonmanager-doc-fr.html">Documentation</a>)</td>
			<td>gcweb/jsonmanager</td>
		</tr>
	</tbody>
</table>
