---
{
	"title": "Exemples pratiques",
	"language": "fr",
	"altLangPrefix": "index",
	"themes": [
		{
			"tag": "theme-wet-boew",
			"title": "Thème de la BOEW",
			"description": "Un exemple de thème conçu à partir du thème de base.",
			"href": "../theme/index-fr.html"
		},
		{
			"tag": "theme-gcwu-fegc",
			"title": "Thème de la facilité d’emploi Web GC",
			"description": "Un thème qui met en place la mise en page et la mise en forme exigés par la <a href=\"http://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=24227\" rel=\"external\">Norme sur la facilité des sites Web</a>. Il est recommandé de se servir de ce thème sur les sites Web du gouvernement du Canada.",
			"href": "/theme-gcwu-fegc/index-fr.html"
		}
	]
}
---
<table id="components" class="wb-tables table table-striped table-hover" data-wet-boew='{"aoColumnDefs": [ { "bVisible": false, "aTargets": [ 3 ] } ], "aLengthMenu": [[10, 25, -1], [10, 25, "Toutes les"]], "iDisplayLength": -1 }'>
	<thead>
		<tr>
			<th>Nom</th>
			<th>Catégorie</th>
			<th>Description</th>
			<th>Mots clés</th>
		</tr>
	</thead>
	<tbody>
		{{#withSort pages "data.title"}}
			{{#is data.language "fr"}}
				{{#if data.category}}
					<tr>
						<td><a href="{{relative dirname dest}}{{#if data.querystring}}?{{data.querystring}}{{/if}}">{{data.title}}</a></td>
						<td>{{data.category}}</td>
						<td>{{data.description}}</td>
						<td>{{data.tag}}</td>
					</tr>
				{{/if}}
			{{/is}}
		{{/withSort}}
		{{#withSort themes "title"}}
			<tr>
				<td><a href="{{href}}">{{title}}</a></td>
				<td>Theme and style</td>
				<td>{{{description}}}</td>
				<td>{{tag}}</td>
			</tr>
		{{/withSort}}
	</tbody>
</table>
