---
{
	"title": "Thème de la BOEW",
	"tag": "theme-wet-boew",
	"parentdir": "theme-wet-boew",
	"language": "fr",
	"altLangPrefix": "index",
	"dateModified": "2014-08-08"
}
---
<section>
	<h2>Table des matières</h2>
	<ul>
{{#withSort site.langs "lang-fr"}}
		<li><a href="#{{lang-code}}">{{lang-fr}}</a></li>
{{/withSort}}
	</ul>
</section>

{{#withSort site.langs "lang-fr"}}
<section>
	<h2 id="{{lang-code}}">{{lang-fr}}</h2>
	<ul>
		<li><a href="content/index-{{lang-code}}.html">Page de contenu</a></li>
		<li><a href="content/sec-menu-{{lang-code}}.html">Page de contenu - Menu secondaire</a></li>
		<li><a href="content/no-search-lang-{{lang-code}}.html">Page de contenu - Sans recherche ou lien de sélection de la langue</a></li>
		<li><a href="content/no-site-menu-bc-{{lang-code}}.html">Page de contenu - Sans menu du site ou fil d'Ariane</a></li>
		<li><a href="content/no-search-lang-site-menu-bc-{{lang-code}}.html">Page de contenu - Sans recherche, lien de sélection de la langue, menu du site ou fil d'Ariane</a></li>
		{{#is lang-code "en"}}
		<li><a href="splash-page/splashpage-en.html">Page d'entrée</a></li>
		{{/is}}
		{{#is lang-code "fr"}}
		<li><a href="splash-page/splashpage-fr.html">Page d'entrée</a></li>
		{{/is}}
	</ul>
</section>
{{/withSort}}
