---
{
	"title": "Working examples",
	"language": "en",
	"fr": "index"
}
---
<table id="components" class="wb-prettify wb-tables table table-striped table-hover" data-wet-boew='{"aoColumnDefs": [ { "bVisible": false, "aTargets": [ 3 ] } ], "aLengthMenu": [[10, 25, -1], [10, 25, "All"]], "iDisplayLength": -1, "aaSorting": [[ 0, "asc" ]]}'>
	<thead>
		<tr>
			<th>Name</th>
			<th>Category</th>
			<th>Description</th>
			<th class="wb-inv">Keywords</th>
		</tr>
	</thead>
	<tbody>
		{{#each pages}}
			{{#is data.language "en"}}
				{{#if data.category}}
					<tr>
						<td><a href="{{relative dirname dest}}">{{data.title}}</a></td>
						<td>{{data.category}}</td>
						<td>{{data.description}}</td>
						<td>{{data.tag}}</td>
					</tr>
				{{/if}}
			{{/is}}
		{{/each}}
	</tbody>
</table>
