<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="{{language}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{language}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}} - {{sitename}}</title>
		<link href="{{assets}}/images/favicon.ico" rel="shortcut icon">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<!-- Meta data -->
		<meta name="description" content="{{description}}" />
		<!-- Meta data-->
		<link rel="stylesheet" href="{{assets}}/css/bootstrap{{environment.suffix}}.css">
		<link rel="stylesheet" href="{{assets}}/css/base{{environment.suffix}}.css">
		<link rel="stylesheet" href="{{assets}}/css/theme{{environment.suffix}}.css">

		<!-- Polyfill loader-->
		<!--[if lt IE 9]>
		<script src="{{assets}}/js/oldie/respond.min.js"></script>
		<script src="{{assets}}/js/oldie/jquery.min.js"></script>
		<script src="{{assets}}/js/oldie/selectivizr.min.js"></script><![endif]-->
		<!--[if gte IE 9 | !IE ]><!-->
		<script src="{{assets}}/js/jquery.min.js"></script>
		<!--<![endif]-->
		<script src="{{assets}}/js/vapour{{environment.suffix}}.js"></script>

	</head>
	<body vocab="http://schema.org/" typeof="WebPage">{{#if test}}{{>test}}{{/if}}
		<div id="wb-skip">
			<ul id="wb-tphp">
				<li id="wb-skip1">
					<a class="wb-skip-link" href="#wb-cont">{{#i18n "%tmpl-skip-cont"}}{{/i18n}}</a>
				</li>
				<li id="wb-skip2">
					<a class="wb-skip-link" href="#wb-nav">{{#i18n "%tmpl-skip-foot"}}{{/i18n}}</a>
				</li>
			</ul>
		</div>
		<header role="banner">
			<div id="wb-banner">
				{{>brand}}

				<section id="wb-lang">
					<h2>{{#i18n "%tmpl-lang-select"}}{{/i18n}}</h2>
					{{>languagetoggle}}
				</section>

				<section id="wb-srch">
					<h2>{{#i18n "%tmpl-search"}}{{/i18n}}</h2>
					{{>sitesearch}}
				</section>
			</div>

			<nav role="navigation" id="wb-sm" typeof="SiteNavigationElement">
				<h2>{{#i18n "%tmpl-site-menu"}}{{/i18n}}</h2>
				{{>sitemenu}}
			</nav>

			<nav role="navigation" id="wb-bc" property="breadcrumb">
				<h2>{{#i18n "%tmpl-bcrumb"}}{{/i18n}}</h2>
				{{>breadcrumbs}}
			</nav>
		</header>

		<main role="main" property="mainContentOfPage">
			<h1 id="wb-cont" property="name">{{title}}</h1>
			{{>body}}
		</main>

		<!-- Secondary Menu [optional] -->
		<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement">
			<h2>{{#i18n "%tmpl-sec-menu"}}{{/i18n}}</h2>
			{{>supporting}}
		</nav>

		<footer role="contentinfo" id="wb-nav">
			<nav role="navigation">
				<h2>{{#i18n "%tmpl-site-info"}}{{/i18n}}</h2>
				{{>footer}}
			</nav>
		</footer>

		<script src="{{assets}}/js/wet-boew{{environment.suffix}}.js"></script>
		<script src="{{assets}}/js/theme.js"></script>
	</body>
</html>
