<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{language}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{language}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}} - {{site.sitetitle}}</title>
		<link href="{{assets}}/assets/favicon.ico" rel="shortcut icon" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<!-- Meta data -->
		<meta name="description" content="{{site.description}}" />
		<!-- Meta data-->
		<link rel="stylesheet" href="{{assets}}/css/base{{environment.suffix}}.css" />
		<link rel="stylesheet" href="{{assets}}/css/theme{{environment.suffix}}.css" />

		<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{assets}}/css/ie8{{environment.suffix}}.css" />
		<script src="{{assets}}/js/ie8-vapour{{environment.suffix}}.js"></script>
		<![endif]-->

		<noscript><link rel="stylesheet" href="{{assets}}/css/noscript{{environment.suffix}}.css" /></noscript>

	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<ul id="wb-tphp">
			<li class="wb-slc">
				<a class="wb-sl" href="#wb-cont">{{#i18n "%tmpl-skip-cont"}}{{/i18n}}</a>
			</li>
			<li class="wb-slc">
				<a class="wb-sl" href="#wb-nav">{{#i18n "%tmpl-skip-foot"}}{{/i18n}}</a>
			</li>
		</ul>
		<header role="banner">
			<div id="wb-bnr">
				<section id="wb-lng">
					<h2>{{#i18n "%tmpl-lang-select"}}{{/i18n}}</h2>
					{{>languagetoggle}}
				</section>

				<div class="container">
					<div class="row">

						<section id="wb-sttl" class="col-md-8">
							{{>brand}}
						</section>

						<section id="wb-srch" class="col-md-4 visible-md visible-lg">
							<h2>{{#i18n "%tmpl-search"}}{{/i18n}}</h2>
							{{>sitesearch}}
						</section>

					</div>
				</div>
			</div>

			<nav role="navigation" id="wb-sm" data-ajax-fetch="{{assets}}/ajax/sitemenu-{{language}}.html" data-post-remove="remove after init" class="wb-menu remove after init" typeof="SiteNavigationElement">
				{{>sitemenu}}
			</nav>
{{#unless_eq assets compare="."}}

			<nav role="navigation" id="wb-bc" property="breadcrumb">
				<h2>{{#i18n "%tmpl-bcrumb"}}{{/i18n}}</h2>
				{{>breadcrumbs}}
			</nav>
{{/unless_eq}}
		</header>

		<main role="main" property="mainContentOfPage" class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 id="wb-cont" property="name">{{title}}</h1>
					{{>body}}
				</div>

			</div>
		</main>

		<!-- Secondary Menu
		<nav role="navigation" id="wb-sec" typeof="SiteNavigationElement">
			<h2>{{#i18n "%tmpl-sec-menu"}}{{/i18n}}</h2>
			{{>supporting}}
		</nav>
		[optional] -->

		<footer role="contentinfo" id="wb-nav" class="container visible-md visible-lg">
			<nav role="navigation" class="row">
				<h2>{{#i18n "%tmpl-site-info"}}{{/i18n}}</h2>
				{{>footer}}
			</nav>
		</footer>
		<!--[if gte IE 9 | !IE ]><!-->
		<script src="{{assets}}/js/jquery{{environment.suffix}}.js"></script>
		<script src="{{assets}}/js/vapour{{environment.suffix}}.js"></script>
		<!--<![endif]-->
		<script src="{{assets}}/js/wet-boew{{environment.suffix}}.js"></script>
		{{#if environment.test}}{{>test}}{{/if}}
	</body>
</html>
