<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{language}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{language}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}} - {{#i18n "site.title"}}{{/i18n}}</title>
		<link href="{{assets}}/assets/favicon.ico" rel="shortcut icon" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<!-- Meta data -->
		<meta name="description" content="{{#i18n "site.description"}}{{/i18n}}" />
		<!-- Meta data-->
		{{>headresources}}

	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<header role="banner">
			<div id="wb-bnr">
				<div class="container">
					<div class="row mrgn-tp-lg mrgn-bttm-lg">
						<section class="col-md-8 col-md-offset-2">
							<object type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/assets/logo.svg" aria-label="{{#i18n "site.title"}}{{/i18n}}"></object>
						</section>
					</div>
				</div>
			</div>
		</header>
		<main role="main" property="mainContentOfPage" class="container">
			<div class="row mrgn-tp-lg">
				<div class="col-md-12">
					{{>body}}
				</div>
			</div>
		</main>
		{{>footerresources}}
		{{#if environment.test}}{{>test}}{{/if}}
	</body>
</html>
