<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie8" lang="{{language}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{language}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}} - {{sitename}}</title>
		<link href="{{assets}}/images/favicon.ico" rel="shortcut icon">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<!-- Meta data -->
		<meta name="description" content="{{description}}" />
		<!-- Meta data-->
		<link rel="stylesheet" href="{{assets}}/css/bootstrap{{environment.suffix}}.css">
		<link rel="stylesheet" href="{{assets}}/css/base{{environment.suffix}}.css">
		<link rel="stylesheet" href="{{assets}}/css/theme{{environment.suffix}}.css">

		<!-- IE8 Support -->
		<!--[if IE 8]>
		<script src="{{assets}}/js/ie8-vapour{{environment.suffix}}.js"></script>
		<![endif]-->

	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<header role="banner">
			<div id="wb-banner">
				<div class="container">
					<div class="row">
						<section class="full-hd">
							<object type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/assets/logo.svg" aria-label="{{sitetitle}}"></object>
						</section>
					</div>
				</div>
			</div>
		</header>
		<main role="main" property="mainContentOfPage" class="container">
			<div class="row">
				<div class="col-md-12">
					{{>body}}
				</div>
			</div>
		</main>

		<!--[if gte IE 9 | !IE ]><!-->
		<script src="{{assets}}/js/jquery.min.js"></script>
		<script src="{{assets}}/js/vapour{{environment.suffix}}.js"></script>
		<!--<![endif]-->
		<script src="{{assets}}/js/wet-boew{{environment.suffix}}.js"></script>
		{{#if environment.test}}{{>test}}{{/if}}
	</body>
</html>
