<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{language}}"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{language}}">
<!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{title}} - {{site.sitetitle}}</title>
		<link href="{{assets}}/assets/favicon.ico" rel="shortcut icon" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<!-- Meta data -->
		<meta name="description" content="{{site.description}}" />
		<!-- Meta data-->
		<link rel="stylesheet" href="{{assets}}/css/base{{environment.suffix}}.css" />
		<link rel="stylesheet" href="{{assets}}/css/theme{{environment.suffix}}.css" />

		<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{assets}}/css/ie8{{environment.suffix}}.css" />
		<script src="{{assets}}/js/ie8-vapour{{environment.suffix}}.js"></script>
		<![endif]-->

		<style>
			.mrg-top { margin-top: 2em; }
			.mrg-btm { margin-bottom: 2em; }
		</style>

		<noscript><link rel="stylesheet" href="{{assets}}/css/noscript{{environment.suffix}}.css" /></noscript>

	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
		<header role="banner">
			<div id="wb-bnr">
				<div class="container">
					<div class="row mrg-top mrg-btm">
						<section class="col-md-8 col-md-offset-2">
							<object type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/assets/logo.svg" aria-label="{{site.sitetitle}}"></object>
						</section>
					</div>
				</div>
			</div>
		</header>
		<main role="main" property="mainContentOfPage" class="container">
			<div class="row mrg-top">
				<div class="col-md-12">
					{{>body}}
				</div>
			</div>
		</main>

		<!--[if gte IE 9 | !IE ]><!-->
		<script src="{{assets}}/js/jquery{{environment.suffix}}.js"></script>
		<script src="{{assets}}/js/vapour{{environment.suffix}}.js"></script>
		<!--<![endif]-->
		<script src="{{assets}}/js/wet-boew{{environment.suffix}}.js"></script>
		{{#if environment.test}}{{>test}}{{/if}}
	</body>
</html>
